# Backend
backend/node_modules
backend/dist
backend/public/uploads/*

# Frontend
frontend/node_modules
frontend/dist

# Production uploads (keep this OUT of git!)
uploads/

# Environment files
*.env
!.env.example